body{
    background: black;
    color: white;
}

img{
    z-index:2;
}

.line{
    background-color: white;
    height: 2px;
    overflow:hidden;
    position:absolute;
}

body{
    min-height: 140vw
}